#about {
  position: relative;
  color: white;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  text-align: center;
  padding: 20px;
}

#about > * {
  display: block;
  padding: 20px;
}

#about > span:nth-child(1) {
  font-weight: bold;
  font-size: 1.5em;
}

#about > div > span:nth-child(1) {
  font-weight: bold;
  display: block;
}

#about > div > span > a,
#about > div > span > a:visited {
  color: gold;
}

#about > div > span:nth-child(2) {
  max-width: 60vw;
  text-align: center;
  margin: auto;
  display: block;
}
