#main-container {
  height: 100%;
  width: 100%;
  background-color: #212121;
  display: flex;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#particles-js > canvas {
  border-radius: 0;
}
