#main-container {
  height: 100%;
  width: 100%;
  background-color: #212121;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#particles-js > canvas {
  border-radius: 0;
}

/* #main-state{
  display: grid;
  grid-template-columns: 5fr 1fr;
}

#main-state > div:nth-child(2){
  background-color: red;
} */
